body{
    background: #CB6363;
}
::placeholder {
    color: #fff  !important;
    
}
.container{
    max-width: 400px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}
.todos li{
    background: #D87E7E;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}
